<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Surveys for Everyone!!</h1>
  <p>Just register and start creating surveys that fits all your needs, we have several different kind of questions and you can visualize all your results in graphics and other stuff, you know.
  <br><br>
  <h2>Not the official landing page yet</h2>
  <br>
  <button ui-sref="signup" class="btn btn-primary btn-lg col-md-3">Sign up</button>
  <button ui-sref="signin" class="btn btn-primary btn-lg col-md-3 col-md-offset-2">Sign in</button>
</div>  